<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ingredient:</strong>
    <%= question.ingredient_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= question.content %>
  </p>

</div>
